<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>CheapSharkMobile</string>
	<key>CFBundleIdentifier</key>
	<string>com.acastro.com.acastro.sprite.deals</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/fontawesome-webfont.ttf</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons-1.appiconset</string>
	<key>CFBundleShortVersionString</key>
	<string>3</string>
	<key>CFBundleVersion</key>
	<string>2</string>
</dict>
</plist>
