<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="com.acastro.sprite.deals" android:versionCode="2">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22" />
	<application android:icon="@drawable/ic_launcher" android:label="Cheaps" android:theme="@style/MyTheme">
	</application>
</manifest>